<p/>
<h2>Gene Ontology (GO) Summary Figures</h2>
<p>
The following is a reproduction of the figure from the manuscript outlining the 
breakdown of high-level GO functional categories assigned to the set of
proteins found in all of the experiments. 
</p>
<p>
	<table  class='data'>
		<tr class='head'>
			<th > 72 hours post-fertilization </th>
		</tr>
		<tr>
			<td><%= image_tag 'figures/go3day.png' %></td>
		</tr>
	</table>
	<table  class='data'>
		<tr class='head'>
			<th > 120 hours post-fertilization </th>
		</tr>
		<tr>
			<td><%= image_tag 'figures/go5day.png' %></td>
		</tr>
	</table>
</p>