<p/>
<h2>Ingenuity Summary Figures  </h2>
<p>
The following is a reproduction of the figure from the manuscript outlining the 
breakdown of Ingenuity pathways and functional categories assigned to the set of 
proteins found in all of the experiments. 
</p>
<p>
	<%= image_tag 'figures/ing_fig4_1.png' %>
	<br/>
	<%= image_tag 'figures/ing_fig4_2.png' %>
</p>