<p/>
<h2>LC-MS/MS Peptide Search Result Summary Table </h2>
<p>
The following is a reproduction of the figure from the manuscript outlining the 
breakdown of peptide identifications found in the LCMS experiments from the SEQUEST and MASCOT
search algorithms on the same protein database.
</p>
<p>
<%= image_tag 'figures/lcms_breakdown.png' %>

</p>