<div id="header">
	<h1>
 		<a href ="<%= url_for :controller => 'bioentries' %>"   class="toptitle">		<%= image_tag( "logo", :border => 0)  %>  

 		Zebrafish Proteomics  </a> 
	</h1>
	<hr />
<br/>
	<!-- CSS tab headings -->
	<!--
		<div id="tabs">
		<ul>
			<li>About</li>
			<li>Search Entries</li>
			<li>Summary Analyses</li>
		</ul>
		</div>
	-->
</div>
