<html>
<head>
  <title>Zebrafish Proteomics: Welcome</title>
<%= javascript_include_tag :defaults %>

<%= stylesheet_link_tag 'scaffold' %>

</head>
<body>
		<p style="color: green"><%= flash[:notice] %></p>

<!-- header partial -->
<%= render_partial "partials/header" %>

<!-- content -->
<br/>
<br/>
<div id="content">
<%= yield  %>
</div>

<!-- footer partial -->
<%= render_partial "partials/footer" %>

</body>
</html>
